<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="~/Content/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>

@Html.Partial("Partials/_Header")

<div class="container">
    <div class="row">
        @RenderSection("SidebarLeft", required: false)

        @RenderBody()

        @RenderSection("SectionRight", required: false)
    </div>
</div>

@Html.Partial("Partials/_Footer")

<script src="~/Content/lib/js/bootstrap.min.js"></script>
</body>
</html>