
@model StackOverflow.ViewModels.HomePageViewModel

<article class="row question-card flex-wrap py-3 border-top m-0 px-3">
    <!--Cột trái: thống kê -->
    <div class="col-12 col-lg-2 p-0 pe-md-3">
        <div class="question-statics text-end text-muted p-0 d-flex flex-row flex-lg-column gap-3 gap-lg-1">
            <div>0 votes</div>
            <div>@Model.AnswerCount answers</div>
            <div>0 views</div>
        </div>
    </div>
    <!-- Cột phải: nội dung chính -->
    <div class="question-content col-12 col-lg-10 text p-0">
        <a href="#" class="d-block question-title mb-1" style="font-size: 16px;">@Model.Title</a>

        <!-- Mô tả ngắn -->
        <p class="question-desc text-muted mb-2" style="font-size: 14px;">
            @Model.Body
        </p>

        <!-- Thẻ tag + Tác giả  -->
        <div class="justify-content-between align-items-center flex-wrap gap-2 mb-1  d-block d-sm-flex">
            <!-- tag -->
            <ul class="tag-list d-flex flex-nowrap gap-1 list-unstyled">
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    foreach (var j in Model.Tags)
                    {
                        if (!string.IsNullOrEmpty(j))
                        {
                            <li class="tag">@Html.ActionLink(j, "Filter", "Home", new { tag = j.Trim() }, null)</li>
                        }
                    }
                }
            </ul>
            <!-- Tác giả và thời gian -->
            <div class="article-info text-muted me-3 mt-2 mt-md-0">
                <a href="#">
                    <i class="fa fa-user me-1"></i>
                    <span class="text-primary">@Model.DisplayName</span>
                </a>
                <time class="text-muted ms-1">@Model.CreatedAt</time>
            </div>
        </div>
    </div>
</article>