@{
    ViewBag.Title = "Trang chủ";
}

@section SidebarLeft {
    @Html.Partial("Partials/_SidebarLeft")
}

@section SectionRight {
    @Html.Partial("Partials/_SectionRight")
}

@model IEnumerable<StackOverflow.ViewModels.HomePageViewModel>
<main class="col-12 col-md-9 col-lg-7 px-0">
    <div class="p-3">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="fs-3">Newest Questions</h1>
            <a href=@Url.Action("AskQuestion", "Questions") class="text-decoration-none">
                <div class="btn-ask-question" style="padding: 10px 12px">
                    <span class="pe-2"><i class="fa-solid fa-plus"></i></span>
                    <span>Ask Question</span>
                </div>
            </a>
        </div>
        
        <div>
            Xin chào @Session["Username"]
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div id="quantity-questions">@ViewBag.CountQuestion question</div>
            <div class="d-flex justify-content-between align-items-center">
                <div>

                </div>
                <button class="btn-filter px-2 py-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                         class="bi bi-filter" viewBox="0 0 18 18">
                        <path
                            d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <span style="font-size: 14px;">Filter</span>
                </button>
            </div>
        </div>
    </div>

    <div id="question-list" class="p-0 align-end">
        <!-- Các bài viết -->
        @if (@Model != null)
        {
            foreach (var i in @Model)
            {
                @Html.Partial("/_Question", i)
            }
        }
        else
        {
            <div class="alert m-3 text-center fw-bold"
                 style="color: var(--color-primary-2); background-color: var(--color-sub-primary) " role="alert">
                Không tìm thấy bài viết nào
            </div>
        }
    </div>
</main>
